/* social/css/main.css */

/* ... (ваш текущий CSS) */

.main {
    margin-top: 10px;
    position: relative;
    bottom: 800px;
    left: 230px;
     overflow-y: auto; /* Добавляем вертикальную прокрутку, если контент выходит за пределы блока */
    max-height: 800px; /* Задаем максимальную высоту блока, чтобы он не рос бесконечно, и прокрутка стала активной */
    overflow-x: hidden; /* Скрываем горизонтальную прокрутку */
    width: 1100px;




}
.main h1{

}

.section {

    margin-bottom: 20px; /* Расстояние между секциями */
}

/* Добавим стили для каждой секции (можете настроить по вашему вкусу) */
.stories {

    padding: 10px;
}

.stories img{
    width: 80px;
    height: 80px;
    border-radius: 50px;
    border-color: #d50032;
    margin: 10px;
}



.recommendations {

    padding: 10px;
}

.news {

    padding: 10px;
}
.watch{
    position: relative;
    left: 900px;
    color: #989898;
}

.clubs{
display: flex;

    flex-direction: row;

    justify-content: flex-start;
    width: 1200px;
}
.club-1{
    width: 370px;
    height: 200px;
    background-color: white;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin: 10px;

}
.club-1 img{
    width: 150px;
    border-radius: 10px;
    margin: 15px;
}
.img-ellips img{
    width: 80px;
    height: 80px;
    border-radius: 100px;
    position: relative;
    left:125px;
    bottom: 80px
}
.club-1 h2{
    position: relative;
    bottom: 100px;
    left: 100px;
}
.club-1 button{
    position: relative;
    bottom: 130px;
    left: 300px;
    border-radius: 10px;
    border-color: #d50032;
    background: #D50032;
    color: white;
    width: 53px;
    height: 20px;
    text-align: center;
    border-style: solid;
    cursor: pointer

}
.club-2{
    width: 370px;
    height: 200px;
    background-color: white;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin: 10px;

}
.club-2 img{
    width: 150px;
    border-radius: 10px;
    margin: 15px;
}
.img-ellips img{
    width: 80px;
    height: 80px;
    border-radius: 100px;
    position: relative;
    left:125px;
    bottom: 80px
}
.club-2 h2{
    position: relative;
    bottom: 100px;
    left: 100px;
}
.club-2 button{
    position: relative;
    bottom: 130px;
    left: 300px;
    border-radius: 10px;
    border-color: #d50032;
    background: #D50032;
    color: white;
    width: 53px;
    height: 20px;
    text-align: center;
    border-style: solid;
    cursor: pointer

}

.pag-1{
    border-radius: 50px;
    border-color: #d50032;
    background: #D50032;
    color: white;
    width: 40px;
    height: 40px;
    border-style: solid;
    margin-left: 900px;
    cursor: pointer
}
.pag-2{
border-radius: 50px;
    border-color: #d50032;
    background: #D50032;
    color: white;
    width: 40px;
    height: 40px;
    border-style: solid;
    cursor: pointer

}


.news-main{
    border-radius: 50px;
}

.news-main img{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border-color: #d50032;

}




