<!-- social/templates/social/login.html -->
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{% static 'social/css/login.css' %}">
    <title>Login</title>
</head>
<body>
    <div class="registration-container">
        <img src="{% static 'social/images/logo.png' %}" alt="Logo">
        <div class="button-group">
            <a href="{% url 'register' %}" class="{% if 'register' in request.resolver_match.url_name %}active{% endif %}">SIGN UP</a>
            <a href="{% url 'login' %}" class="{% if 'login' in request.resolver_match.url_name %}active{% endif %}">SIGN IN</a>
        </div>
        <form method="post" action="{% url 'login' %}" class="registration-form">
            {% csrf_token %}
            <div class="form-group">
                {{ form.username }}
            </div>
            <div class="form-group">
                {{ form.password }}
            </div>
            <div class="form-group checkbox-group">
                <input type="checkbox" name="stay_signed_in" id="stay_signed_in">
                <label id="checkbox_text" for="stay_signed_in">stay signed in</label>
            </div>
            <button type="submit">SIGN IN</button>
            <a href="#">Forgot password?</a>
        </form>
    </div>
</body>
</html>
